.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .sixr-logo {
    height: 137px;
    width: auto;
  }

  .nav-wrapper {
    align-content: space-around;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    text-transform: uppercase;
    width: 76%;

    a {
      text-decoration: none;
      color: #08c6e7;
      font-size: 2.5rem;
      transition: 0.1s;

      &:hover {
        color: rgb(122, 235, 255);
      }
    }
  }
}

.active {
  color: #ffffff;
}

.user-navcard {
  .user-card-link {
    display: flex;
    align-items: center;

    .img-wrapper {
      margin-left: 20px;
      height: 80px;
      width: 75px;
      border-radius: 25px;
      overflow: hidden;
      border: 3px solid #08c6e7;

      img {
        width: auto;
        height: 100%;
        transform: translate(-25%, 0%);
      }
    }
  }
}

.login-signup-btns {
  .login-btn {
    margin-right: 100px;
  }
}
