.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  img {
    height: 137px;
    width: auto;
  }

  div {
    align-content: space-around;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    text-transform: uppercase;
    width: 76%;


    a {
      text-decoration: none;
      color: #08c6e7;
      font-size: 2.5rem;
      transition: 0.1s;

      &:hover {
        color: rgb(122, 235, 255);
      }
    }
  }
}

.active {
    color: #FFFFFF;
}
