.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  color: white;

  .project-num {
    font-size: 2.5rem;
    padding-top: 49px;
  }

  .project-title {
    font-size: 3.4rem;
    padding-top: 103px;
  }

  .project-container {
    display: flex;
    justify-content: space-between;
    padding-top: 79px;

    .left-project-container {
      .proj-image-container {
        overflow: hidden;

        .project-image {
          max-width: 660px;
          height: auto;
        }
      }

      .funding-elements {
        padding-top: 32px;

        .funding-amount {
          font-size: 3.35rem;

          &:nth-child(2) {
            padding-top: 18px;
          }
        }
      }
    }

    .right-project-container {
      width: 50%;
      padding-left: 22px;

      .description-rows {
        font-size: 2.23rem;
        font-family: Roboto;
        font-style: normal;
        line-height: 150%;
      }

      .project-description_1 {
        padding-top: 30px;
      }
    }
  }
}
